<h1 class="Title">
  How to Train Your Dragon 2 <span class="ReleaseDate"> (2014) </span>
</h1>

<div style="text-align: center">
  <div class="rating">
    77%
  </div>

  <div class="otherspheres">1</div>
  <div class="otherspheres">2</div>
  <div class="otherspheres">3</div>
  <div class="otherspheres">4</div>
</div>

<div style="text-align: center">
  <p class="DescHead">overview</p>
  <div class="ShortDesc">The thrilling second chapter of the epic How To Train Your Dragon trilogy brings back the
    fantastical world of Hiccup and Toothless five years later. While Astrid, Snotlout and the rest of the gang are
    challenging each other to dragon races (the island's new favorite contact sport), the now inseparable pair journey
    through the skies, charting unmapped territories and exploring new worlds. When one of their adventures leads to the
    discovery of a secret ice cave that is home to hundreds of new wild dragons and the mysterious Dragon Rider, the two
    friends find themselves at the center of a battle to protect the peace.</div>
</div>